*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 0.2s;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  transition: background-color 0.2s;

  &::after {
    background-image: url('../images/messenger-image.jpg');
    background-size: 14%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    opacity: 0.25;
  }

  > button {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__settings-icon {
    position: absolute;
    right: 40px;
    top: 40px;
    transform: scale(2);
    cursor: pointer;
    padding: 6px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(195, 199, 220, 0.6);
    svg {
      width: 9px;
      height: auto;
    }
    &:hover {
      background-color: $pale;
      box-shadow: 0px 0px 30px 0px rgba(195, 199, 220, 1);
      path {
        fill: black;
      }
    }
  }
}

// global things

.field-with-validation {
  width: 100%;
  position: relative;
  &--invalid {
    .ant-input {
      border-color: red;
    }
    .ant-input-password {
      border-color: red;
    }
  }
  &__error-text {
    position: absolute;
    top: -18px;
    left: 0px;
    color: red;
    font-size: 13px;
    margin-left: 4px;
  }
}

.ant-input {
  color: $gray;
  background-color: white;
  border-color: #ccd4d8;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 15px;
  resize: none;

  &:hover {
    border-color: #808080;
  }
  &:focus {
    box-shadow: none;
    border-color: $primary-active;
  }
  &::placeholder {
    color: #99a8b1;
  }
}

.ant-input-password {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: text;

  &:hover {
    border-color: #808080;
  }
  &.ant-input-affix-wrapper-focused {
    box-shadow: none;
    border-color: $primary-active;
  }
}

.ant-btn {
  border-radius: 6px;
  text-transform: uppercase;
  // font-family: 'plex bold';
  font-weight: bold;
  font-size: 13px;
  color: var(--primary);
  height: 2.6em;
  // height: 34px;

  &:hover {
    color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
  &.ant-btn-primary {
    color: white;
    border: none;
    background-color: var(--primary);
    &:hover {
      background-color: var(--primary-hover);
    }
  }
  &.ant-btn-dangerous {
    background-color: $danger;
    &:hover {
      background-color: $danger-hover;
    }
  }

  &[disabled] {
    color: white;
    background-color: $light-gray;
    &:hover {
      color: white;
      background-color: $light-gray;
    }
  }
}

// AUTH ----------------------

.auth-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100vh;

  &__container {
    width: 340px;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  &__title {
    color: var(--color);
    font-size: 24px;
    // font-family: 'plex medium';
    text-align: center;
    margin-bottom: 30px;
  }
  &__info {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    width: 80%;
    align-self: center;
  }
  &__error {
    margin-bottom: 20px;
    color: red;
    text-align: center;
  }
  &__fields {
    margin-bottom: 40px;
    > div {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__forgot {
    align-self: center;
    font-size: 12px;
    font-weight: bold;
    // font-family: 'plex bold';
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--primary);
    @include smooth-hover;
  }
  &__button {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  &__footer-text {
    font-size: 14px;
    text-align: center;
    color: var(--color);
    a {
      // font-family: 'plex medium';
      color: var(--primary);
      @include smooth-hover;
    }
  }

  &__check-icon,
  &__close-icon {
    align-self: center;
    margin-bottom: 30px;
    width: 100px;
    height: auto;
  }
  &__check-icon {
    path,
    circle {
      stroke: var(--primary);
    }
  }

  &--login {
    .auth-form__fields {
      margin-bottom: 30px;
    }
  }

  &--verify {
    .auth-form__error {
      margin-bottom: 30px;
    }
  }

  &__role {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__role-item {
    padding: 4px 8px;
    background-color: var(--chat-bg-hover);
    cursor: pointer;
    border-radius: 4px;
    color: var(--color);
    font-size: 15px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      background-color: #cdecff;
    }
    &--active {
      background-color: $primary !important;
      color: white;
    }
  }
}

.drawer {
  .ant-drawer-wrapper-body,
  .ant-drawer-header {
    background-color: var(--drawer-bg);
    color: var(--color) !important;
  }
  .ant-drawer-title {
    color: var(--color) !important;
  }
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__logout,
  &__color-mode {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  svg {
    margin-left: 10px;
    width: 40px;
    height: auto;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__list-item {
    margin-right: 10px;
    font-size: 18px;
    color: var(--color);
    transition: color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:hover {
      color: $primary;
    }
    svg {
      width: 20px;
      margin-right: 10px;
    }
  }
}

.loading-center {
  margin: 0 auto;
}

.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 76px;
  }
  p {
    font-size: 26px;
  }
}

.chat,
.admin {
  .ant-input,
  .ant-input-password {
    color: var(--input-color) !important;
    background-color: var(--input-bg);
  }
}
