body {
  --primary: #419fd9;
  --primary-dark: #1866b3;
  --primary-hover: #2294f2;
  --color: #485a63;
  --main-bg-color: #f5f6fa;
  --chat-bg-color: white;
  --chat-bg-hover: #e7e7e7;
  --border-color: #18191a;
  --drawer-bg: white;
}

.dark {
  --primary: #1866b3;
  --main-bg-color: #18191a;
  --color: white;
  --border-color: white;
  --chat-bg-color: #18191a;
  --chat-bg-hover: #44474a;
  --drawer-bg: #18191a;
}

$black: #010101;
$gray: #485a63;
$light-gray: #99a8b1;
$primary: #69c262;
$primary-active: #1b9360;
$primary-light: #e1f3e0;
$yellow: #ffc01e;
$pale: #f6f7fb;
$danger: #ff715d;
$danger-hover: #e3513d;

$new-primary: #5aaef2;
